NUXT_ATP_SERVICE= 'https://bsky.social' // there's no need to change this for now
// NUXT_OPENAI_API_KEY = your_openai_api_key // your OpenAI API key
// NUXT_EXEMPT_DIDS = 'did:plc:example1,did:plc:example2' // your exempt dids, if any, separated by commas